.BannerContentDiv{
    position: absolute;
    margin-top: 12rem !important;
    margin-left: 5rem !important;
}

.bannerContentTitle{
    font-family: 'Sora' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 72px !important;
    line-height: 77px !important;
    color: #FFFFFF !important;
}

.bannerContentSubTitle{
    color: #ED2C37 !important;
}

.browseProButton{
    width: 198px !important;
    height: 50px !important;
    background: #ED2C37 !important;
    border-radius: 0 !important;
    color: #FFFFFF !important;
    font-family: 'Sora' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    margin-top: 3rem !important;
}

.BannerContentDivMobile{
    position: absolute;
    margin-top: 5rem !important;
    margin-left: 2rem !important;
}

.bannerContentTitleMobile{
    font-family: 'Sora';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 44px;
color: #FFFFFF;
}

.bannerContentSubTitleMobile{
    color: #ED2C37 !important;
}

.browseProButtonMobile{
    width: 167.18px !important;
    height: 42.22px !important;
    background: #ED2C37 !important;
    border-radius: 0 !important;
    color: #FFFFFF !important;
    font-family: 'Sora' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    margin-top: 3rem !important;    
}