.relatedParts-container{
    margin-left: 1rem;
    background-color: #F4F4F4;;
    padding-top: 4.125rem;
    padding-bottom: 4.125rem;
}
.relatedParts-container .header{
    width: 100%;
    margin-bottom: 2.438rem;
}

.relatedParts-container .header p{
    text-align: center;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
}

.productCarouselContainer{
    width: 300px !important;
    /* height: 440px !important; */
    background: #FFFFFF !important;
    border: 1px solid #C9C9C9 !important;
}

.productCarouselContainer:hover{
    box-shadow: 26px 45px 69px #CCC9C9 !important;
    border-bottom: 4px solid #ED2C37 !important;
    transform: translate(-.1rem, -.1ex) !important;
    
}